<!DOCTYPE html>
<html manifest="/Journaliser/cache.manifest">
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @ScriptDependencyExtension.ScriptHelper.RequiresScripts("jQuery-validate-unobtrusive","Main")
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1>The Journaliser</h1>
                <p>The online and offline personal journal</p>
            </div>

            <div id="status-links">
                <div id="logindisplay">
                    @Html.Partial("_LogOnPartial")
                </div>
                <div id="onlineStatus">
                    <span class="status-online">Online</span>
                </div>
            </div>

            <div id="menucontainer">

                <ul id="menu">
                    <li class="@Journaliser.Models.Pages.Home">@Html.ActionLink("Home", "Index", "Home",null, new { @class = "cache-link"} )</li>
                    @{
                        if (Request.IsAuthenticated) 
                        { 
                            <text><li class="@Journaliser.Models.Pages.AddToJournal">@Html.ActionLink("Add to your Journal","","")</li></text> 
                        }
                        if (!Request.IsAuthenticated)
                        { 
                            <text><li class="@Journaliser.Models.Pages.SignIn">@Html.ActionLink("Sign In", "LogOn", "Account")</li></text> 
                        }
                    }
                    
                    <li class="@Journaliser.Models.Pages.About">@Html.ActionLink("About", "About", "Home", null, new { @class = "cache-link" })</li>
                </ul>

            </div>

        </div>

        <div id="main">
            @RenderBody()
            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>
