<!DOCTYPE html>
<html manifest="@Url.Content("~/cache.manifest")">
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.4.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/HTML5Support/RuntimeSettings.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/HTML5Support/CacheManager.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/HTML5Support/NetworkStatus.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/HTML5Support/DataLayer.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/HTML5Support/AddToJournal.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/HTML5Support/Main.js")"></script>
    @Journaliser.Helpers.JsonHelper.WriteJournalEntryJsonDefintion()
    
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="sync-message">
                <span class="message">All Data is Sycnhronised</span>
                <a href="#">Synchronise Now</a>
                <span class="status">...syncing....</span>
            </div>
            <div id="title">
                <h1>The Journaliser</h1>
                <p>The online and offline personal journal</p>
            </div>

            <div id="status-links">
                <div id="logindisplay">
                    @Html.Partial("_LogOnPartial")
                </div>
                <div id="onlineStatus">
                    <span class="status-online">Online</span>
                </div>
            </div>

            <div id="menucontainer">

                <ul id="menu">
                    <li class="@Journaliser.Models.Pages.Home">@Html.ActionLink("Home", "Index", "Home")</li>

                    @if (!Request.IsAuthenticated)
                    {
                        <li class="@Journaliser.Models.Pages.SignIn">@Html.ActionLink("Sign In", "LogOn", "Account", null, new { @class = "cache-link" })</li>
                    }
                    @*Always show the add to journal link*@
                    <li class="@Journaliser.Models.Pages.AddToJournal">@Html.ActionLink("Add to your Journal","AddToJournal","Journal")</li>
                    <li class="@Journaliser.Models.Pages.About">@Html.ActionLink("About", "About", "Home", null, new { @class = "cache-link" })</li>
                </ul>

            </div>

        </div>

        <div id="main">
            @RenderBody()
            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>
