<!DOCTYPE html>
<html manifest="/Journaliser/cache.manifest">
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @ScriptDependencyExtension.ScriptHelper.RequiresScripts("jQuery-validate-unobtrusive","Main")
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1>The Journaliser</h1>
                <p>The online and offline personal journal</p>
            </div>

            <div id="status-links">
                <div id="logindisplay">
                    @Html.Partial("_LogOnPartial")
                </div>
                <div id="onlineStatus">
                    <span class="status-online">Online</span>
                </div>
            </div>

            <div id="menucontainer">

                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>

            </div>

        </div>

        <div id="main">
            @RenderBody()
            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>
