@model Journaliser.Logic.Domain.Model.JournalEntry

@{
    ViewBag.Title = "Add To Journal";
}



<input type="hidden" id="page-id" value="@Journaliser.Models.Pages.AddToJournal" />

<h2>Add A Journal Entry</h2>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>JournalEntry</legend>

        <div class="field-data">
            <div class="editor-label">
                @Html.LabelFor(model => model.Title)
            </div>
            <div class="editor-field title">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="field-data">
            <div class="editor-label">
                @Html.LabelFor(model => model.LastModifiedDate)
            </div>
            <div class="read-only-field">
                @if (Model != null && Model.LastModifiedDate.HasValue)
                {
                   <text>[ @Model.LastModifiedDate.ToString()]</text>
                }
                else { 
                    <text>{Not Modified Yet}</text>
                }
            </div>
        </div>

        <div class="field-data">
            <div class="editor-label">
                @Html.LabelFor(model => model.CreatedDate)
            </div>
            <div class="editor-field created-date">
                @Html.EditorFor(model => model.CreatedDate)
                @Html.ValidationMessageFor(model => model.CreatedDate)
            </div>
        </div>

        <div class="field-data">
            <div class="editor-label">
                @Html.LabelFor(model => model.BodyText)
            </div>
            <div class="editor-field body-text">
                @Html.TextAreaFor(model => model.BodyText)
                @Html.ValidationMessageFor(model => model.BodyText)
            </div>
        </div>

@*   --- New Property/Field*@
@*        <div class="field-data">
            <div class="editor-label">
                @Html.LabelFor(model => model.NewField)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.NewField)
            </div>
        </div>
*@
        <p>
            <input id="add-journal-entry" type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

