<!DOCTYPE html>
@{
	Layout = null;
}
<html>
<head>
    <title>@ViewBag.Title</title>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.4.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/HTML5Support/RuntimeSettings.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/HTML5Support/CacheManager.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/HTML5Support/NetworkStatus.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/HTML5Support/DataLayer.js")"></script>
    <script src="@Url.Content("~/Scripts/Tests/StorageTests.js")" type="text/javascript"></script>
</head>

<body>
    <h2>ScriptTests</h2>

    <h3>StorageTests</h3>

    <ul id="testResults">
    </ul>
</body>
</html>

